body {
    background: #141414;
    color: #FFFF;
}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.row {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    /* enable smooth scrolling on iOS devices */
    /* cursor: grab; */
    /* change cursor to "grab" on hover */
    /* cursor: -webkit-grab; */
    /* Safari */
}