    body {
        background: #2b2a2a;
        color: #FFFF;
    }
    
    .row {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
    
    .row {
        display: flex;
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
        /* enable smooth scrolling on iOS devices */
        /* cursor: grab; */
        /* change cursor to "grab" on hover */
        /* cursor: -webkit-grab; */
        /* Safari */
        justify-content: space-between;
        align-items: center;
    }
    
    .item {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
        position: relative;
        transition: transform 0.2s;
    }
    
    .item-img {
        border-radius: 14px;
        transition: all .2s;
    }
    
    .item-img:hover {
        cursor: pointer;
        transform: scale(1.1);
    }
    
    .searchbox {
        height: 36px;
        width: 200px;
        margin-right: 30px;
        border-radius: 8px;
    }
    
    .header {
        margin-left: 30px;
    }
    
    .item-img:hover+.overlay {
        opacity: 1;
    }
    
    .overlay {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        width: 290px;
        height: 50px;
        transition: 0.5s ease;
        opacity: 0;
        bottom: 0;
        font-size: 20px;
        padding: 20px;
        text-align: center;
    }